
:root {
  --background: #20242b;
  --greenContrast: #55ff33;
  --ReactBlue: #61dafb;
  --orangeContrast: #ffb53d;
  --navBackground: #182229
}


/** Default Page layout, should be used by the parent of all Pages
    Splits the Page into three components in a horizontal layout*/
.container {
  text-align: center;
  background-color: var(--background);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-x: hidden;
}










/* React Defaults */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
